<%= form_for @post, html: { class: 'form-horizontal'}, remote: true do |post_form| %>
  <fieldset>
    <% if @post.errors.any? %>
      <div id = "errorExplanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "control-group" >
      <%= post_form.label :body, class: "control-label" %><br />
      <div class = "contols">
        <%= post_form.text_field :body, class: "text-field post-field" %>
      </div>
    </div>
    <br />
    <div class = "form-actions">
      <%= post_form.submit nil, class: "btn btn-primary post-button" %>
    </div>
  </fieldset>
<% end %>
